body {
	
	font-family: 'Titillium Web', sans-serif;
	overflow-y: hidden;
	overflow-x: hidden;
	 
}
a {
	color:rgb(255,255,255);
	
}
a:hover, a:focus {
	color:rgb(0,255,0);
	text-decoration:underline;
}
figure {
	
	left:0px;
    right:0px;
	position: absolute;
	width:100%;
    height:auto;
	margin:0px;
	bottom: -5px;
	cursor:grabbing;
	
}

#sphere-header
{
	position:relative;
    z-index:5;
    background:#942911;
    float:right;
	top:-6px;
	left:0px;
    width : 100%;
    height : 40px;
	color:white;
	background-color:rgba(0,0,0,.2);
	border-radius: 2px;
}
#sphere-about
{
	 float:right;
	 margin-top:5px;
	 margin-right:10px; 
	 }
#sphere_about_popup
{
	border-radius: 6px;
    box-shadow: 0 0 4px white;
	border: rgba(255,255,255,.15) solid 8px;
    background-clip: padding-box;
	padding:10px;
	background-color:rgba(0,0,0,.6);
	color:white;
	-webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
     transform: scale(0.8);

}
.popup_visible #sphere_about_popup
{
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
     transform: scale(1);

}

/* controls */

.360vp-controls
{  
	height:50px;
	display:flex;
	 flex-direction: row; 
	 align-items: center;
	 cursor:pointer;
	 overflow: hidden;
	 outline: none;
}
.controls, .controls li {
	padding:0;
	padding-botton:10px;
	margin:0;
	display:block;
	outline: none;
	
}
.controls {
	-webkit-appearance: none;
	display:block;
	list-style-type:none;
	overflow:hidden;
	background:transperant;
	outline: none;
	padding:2px;

    
}
.sphere-video-controls li {
	display:inline;
	width:30px;;
	margin-left:1px;
	outline: none;
	
}
.controls li:first-child {
	margin-left:0;
}

:-webkit-full-screen {

	background-color:transparent;
}





.fa-volume-off
{color:white;
text-shadow: 0px 0px 5px #ffffff;	
}
.fa-play-circle
{color:white;
	text-shadow: 0px 0px 1px #ffffff;
	
}
.fa-arrows-alt
{

color:white;
text-shadow: 0px 0px 10px #ffffff;
}
.fa-play-circle:hover
{   
	color:white;
	text-shadow: 0px 0px 10px #ffffff;
	-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
}
.fa-arrows-alt:hover
{
	
text-shadow: 0px 0px 1px #ffffff;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
}
.fa-folder-open
{
	color:lightblue;
	text-shadow: 0px 0px 2px #888;
}
.fa-folder-open:hover
{
	color:white;
	
}
.fa-pause-circle
{
	color:white;
	
}
.fa-pause-circle:hover
{
color:white;
text-shadow: 0px 0px 10px #ffffff;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
}

.fa-info-circle
{
	
	text-shadow: 0px 0px 2px #888;
	
}
.fa-info-circle:hover
{
	color:white;
	text-shadow: 0px 0px 8px white;
	cursor:pointer;
	-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
}
.ytp-autohide .ytp-webgl-spherical-control, .ytp-hide-info-bar .ytp-webgl-spherical-control {
      
	top: 12px;
	width:100px;
	height:100px;
    -moz-transition: top .1s cubic-bezier(0.4,0.0,1,1),opacity .1s cubic-bezier(0.4,0.0,1,1);
    -webkit-transition: top .1s cubic-bezier(0.4,0.0,1,1),opacity .1s cubic-bezier(0.4,0.0,1,1);
    transition: top .1s cubic-bezier(0.4,0.0,1,1),opacity .1s cubic-bezier(0.4,0.0,1,1);
}
.ytp-webgl-spherical-control {
    
	position: absolute;
    opacity: .6;
    cursor:pointer;
	width:100px;
	height:100px;
	display:inline;
    left:10px;
    -moz-transition: top .25s cubic-bezier(0.0,0.0,0.2,1),opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: top .25s cubic-bezier(0.0,0.0,0.2,1),opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: top .25s cubic-bezier(0.0,0.0,0.2,1),opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    outline: none;
}


  .button{
    fill:  rgba(7, 153, 249,0.5);
    stroke:  white;
    stroke-miterlimit:	6;
    stroke-linecap:  round;
	stroke-width:  2;
  }
  .button:hover{
    fill:  rgba(7, 153, 249,1);
    stroke-width:  4;
  }
  .plus-minus{
    fill:  #fff;
    pointer-events: none;
  }
  


input#fileBrowser {
  display: none;
}

/*the slider background*/

.sphere-volume-control {
width:50px;
height:8px;
background-color: rgba(19, 19, 19, 0.9);
border:1px solid rgba(255,255,255,0.3);
position:relative;
margin-left:5px;
padding:0 10px;
display:inline-block;
border-radius: 1px;
cursor:pointer;
-webkit-user-select: none;  /* Chrome all / Safari all */
-moz-user-select: none;     /* Firefox all */
-ms-user-select: none;      /* IE 10+ */
user-select: none;          /* Likely future */  
}

/*Style for the slider button*/
.ui-slider-handle {
outline: none;
width:15px;
height:15px;
position:absolute;
top:-2px;
margin-left:-12px;
z-index:200;
background-color:white;
border-radius:12px;
box-shadow: 0 0 12px #8888;
-webkit-transition: box-shadow 0.3s ease;
cursor:pointer;
outline:none;
}
.ui-slider-handle:hover {
	box-shadow: 0 0 14px #ffffff;
	
}

/*This is the fill bar colour*/
.ui-widget-header {
background: white;
box-shadow: 0 0 3px white;
height:6px;
left:1px;
top:1px;
position:absolute;
}
#sphere-mute-btn
{   
    
    
    margin-left:5px;
	width:20px;
	height:20px;;
	color:black;
	background:url(../images/volume.png) no-repeat;
	background-position:0 -50px;
}
#sphere-current-duration
{
	
	color:white;
	margin-left:10px;
	
	 
}
#sphere-total-duration
{

	
	color:white;
	margin-left:10px;
	

}
.sphere-browsefile
{

margin-left:10px;

}
#sphere-playpause-control
{
	margin-left:10px;
	
}
#sphere-fullscreen
{
	margin-left: auto;
	margin-right:10px;
}



.range {
  -webkit-appearance: none;
  background: #777;
  cursor: pointer;
  height: 3px;
  width: 100%;

  outline: none;
  
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #777;
  border-radius:12px;
  box-shadow: inset 0 0 0 6px #eaeaea;
}
.range::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  background: rgb(85, 206, 65);
  border-radius:12px;
  box-shadow: inset 0 0 0 6px #eaeaea;
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;

}
.wrap{
	 height: 22px;
	
	 
	}

.range::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  
}

